interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.eia.gov/v2/electricity/rto/region-data/data/?data%5B0%5D=value&end=2023-01-08&facets%5Brespondent%5D%5B%5D=PACW&facets%5Btype%5D%5B%5D=D&frequency=hourly&length=5000&sort%5B0%5D%5Bcolumn%5D=period&sort%5B0%5D%5Bdirection%5D=asc&start=2023-01-01
  response:
    body:
      string: '{"response":{"total":"169","dateFormat":"YYYY-MM-DD\"T\"HH24","frequency":"hourly","data":[{"period":"2023-01-01T00","respondent":"PACW","respondent-name":"PacifiCorp
        West","type":"D","type-name":"Demand","value":"2455","value-units":"megawatthours"},{"period":"2023-01-01T01","respondent":"PACW","respondent-name":"PacifiCorp
        West","type":"D","type-name":"Demand","value":"2579","value-units":"megawatthours"},{"period":"2023-01-01T02","respondent":"PACW","respondent-name":"PacifiCorp
        West","type":"D","type-name":"Demand","value":"2717","value-units":"megawatthours"},{"period":"2023-01-01T03","respondent":"PACW","respondent-name":"PacifiCorp
        West","type":"D","type-name":"Demand","value":"2665","value-uni[...]
