interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.eia.gov/v2/electricity/rto/fuel-type-data/data/?data%5B0%5D=value&end=2023-01-08&facets%5Brespondent%5D%5B%5D=PACW&frequency=hourly&length=5000&sort%5B0%5D%5Bcolumn%5D=period&sort%5B0%5D%5Bdirection%5D=asc&start=2023-01-01
  response:
    body:
      string: '{"response":{"total":"845","dateFormat":"YYYY-MM-DD\"T\"HH24","frequency":"hourly","data":[{"period":"2023-01-01T00","respondent":"PACW","respondent-name":"PacifiCorp
        West","fueltype":"NG","type-name":"Natural Gas","value":"0","value-units":"megawatthours"},{"period":"2023-01-01T00","respondent":"PACW","respondent-name":"PacifiCorp
        West","fueltype":"OTH","type-name":"Other","value":"45","value-units":"megawatthours"},{"period":"2023-01-01T00","respondent":"PACW","respondent-name":"PacifiCorp
        West","fueltype":"SUN","type-name":"Solar","value":"44","value-units":"megawatthours"},{"period":"2023-01-01T00","respondent":"PACW","respondent-name":"PacifiCorp
        West","fueltype":"WAT","type-name":"Hydro","value":"476",[...]
