interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.eia.gov/v2/electricity/rto/region-data/data/?data%5B0%5D=value&end=2023-01-08&facets%5Brespondent%5D%5B%5D=PACW&facets%5Btype%5D%5B%5D=D&frequency=hourly&length=5000&sort%5B0%5D%5Bcolumn%5D=period&sort%5B0%5D%5Bdirection%5D=asc&start=2023-01-01
  response:
    body:
      string: '{"response":{"total":"169","dateFormat":"YYYY-MM-DD\"T\"HH24","frequency":"hourly","data":[{"period":"2023-01-01T00","respondent":"PACW","respondent-name":"PacifiCorp
        West","type":"D","type-name":"Demand","value":"2455","value-units":"megawatthours"},{"period":"2023-01-01T01","respondent":"PACW","respondent-name":"PacifiCorp
        West","type":"D","type-name":"Demand","value":"2579","value-units":"megawatthours"},{"period":"2023-01-01T02","respondent":"PACW","respondent-name":"PacifiCorp
        West","type":"D","type-name":"Demand","value":"2717","value-units":"megawatthours"},{"period":"2023-01-01T03","respondent":"PACW","respondent-name":"PacifiCorp
        West","type":"D","type-name":"Demand","value":"2665","value-uni[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.eia.gov/v2/electricity/rto/fuel-type-data/data/?data%5B0%5D=value&end=2023-01-08&facets%5Brespondent%5D%5B%5D=PACW&frequency=hourly&length=5000&sort%5B0%5D%5Bcolumn%5D=period&sort%5B0%5D%5Bdirection%5D=asc&start=2023-01-01
  response:
    body:
      string: '{"response":{"total":"845","dateFormat":"YYYY-MM-DD\"T\"HH24","frequency":"hourly","data":[{"period":"2023-01-01T00","respondent":"PACW","respondent-name":"PacifiCorp
        West","fueltype":"NG","type-name":"Natural Gas","value":"0","value-units":"megawatthours"},{"period":"2023-01-01T00","respondent":"PACW","respondent-name":"PacifiCorp
        West","fueltype":"OTH","type-name":"Other","value":"45","value-units":"megawatthours"},{"period":"2023-01-01T00","respondent":"PACW","respondent-name":"PacifiCorp
        West","fueltype":"SUN","type-name":"Solar","value":"44","value-units":"megawatthours"},{"period":"2023-01-01T00","respondent":"PACW","respondent-name":"PacifiCorp
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.eia.gov/v2/electricity/wholesale-prices/data/?data%5B0%5D=value&end=2023-01-08&frequency=hourly&length=5000&sort%5B0%5D%5Bcolumn%5D=period&sort%5B0%5D%5Bdirection%5D=asc&start=2023-01-01
  response:
    body:
      string: '{"error":"Not found.","code":404}'
    headers:
      Content-Type:
      - application/json
      X-Api-Umbrella-Request-Id:
      - cnpnavjvccku1s2lt8d0
      X-Vcap-Request-Id:
      - 457495fe-6a0f-45ab-77f3-6da2a6b976d3
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.eia.gov/v2/electricity/wholesale-prices/data/?data%5B0%5D=value&end=2023-01-08&frequency=hourly&length=5000&sort%5B0%5D%5Bcolumn%5D=period&sort%5B0%5D%5Bdirection%5D=asc&start=2023-01-01
  response:
    body:
      string: '{"error":"Not found.","code":404}'
    headers:
      Content-Type:
      - application/json
      X-Api-Umbrella-Request-Id:
      - cnpnb1d7r718e0umj37g
      X-Vcap-Request-Id:
      - c1e1e9a0-595e-458f-74d6-f228fe1976e7
    status:
      code: 500
      message: Internal Server Error
version: 1
